*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Tags
/* 2. Body
/* 3. Game
/*   3.1 Pads
/*   3.2 Center
/*      3.2.1 GUI
/* 4. Footer
/**********************************/

/**********************************/
/* Color Guide:
/* 
/* #00A74A : normal-green
/* #9F0F17 : normal-red
/* #CCA707 : normal-yellow
/* #094A8F : normal-blue
/* #13ff7c : light-green
/* #ff4c4c : light-red
/* #fed93f : light-yellow
/* #1c8cff : light-blue
/* #333333 : gray
/* #ECE7EE : center
/* #32050C : counter-color
/*
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
	--clr-normal-green: #00A74A;
	--clr-normal-red: #9F0F17;
	--clr-normal-yellow: #CCA707;
	--clr-normal-blue: #094A8F;

	--clr-light-green: #13ff7c;
	--clr-light-red: #ff4c4c;
	--clr-light-yellow: #fed93f;
	--clr-light-blue: #1c8cff;

	--clr-border: #333333;
	--clr-center: #ECE7EE;

	--clr-counter-bg: #32050C;
	--clr-counter-off: #430710;
	--clr-counter-on: #DC0D29;

	--clr-switch: #3193DE;

	--game-size: 48rem;
	--game-border: 1.5rem solid #27284C;
}

/**********************************/
/* 1. Tags
/**********************************/
html {
	font-size: 62.5%;
}

body {
	background-image: url('https://w0.peakpx.com/wallpaper/96/373/HD-wallpaper-gradient-simple-background-gradient-abstract-blur.jpg');
	background-repeat: repeat;
	background-size: cover;
	font-family: "Bungee", Verdana, Geneva, Tahoma, sans-serif;
	height: 100vh;
}

.header {
	width: 92rem;
	height: 8rem;
	background: #000;
	display: flex;
	color: whitesmoke;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom-right-radius: 2.5rem;
	border-bottom: 1rem solid #27284C;
	border-right: 1rem solid #27284C;
	box-shadow: 0 .5rem 1.2rem #AC4D76;
}

.header__title {
	font-size: 1.5rem;
	text-transform: uppercase;
	margin: 0;
	padding-left: 1.2rem;
}

.logo {
	background-image: url('../assets/images/dio-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25rem;
	height: 7rem;
	border-bottom-right-radius: 25rem;
	margin-left: 1rem;
}

.header--social {
	justify-content: center;
	align-items: center;
	color: whitesmoke !important;

}

.header--social .social {
	color: whitesmoke !important;

}

/**********************************/
/* 2. Body
/**********************************/
.container {
	width: var(--game-size);
	height: 80vh;
	margin-left: auto;
	margin-right: auto;


}

/**********************************/
/* 3. Game
/**********************************/
.game {
	position: relative;
	width: var(--game-size);
	height: var(--game-size);
	display: flex;
	flex-wrap: wrap;
	margin-top: 6rem;
}

.game__title {
	font-size: 3.5rem;
	text-transform: uppercase;
	margin: 0;
	padding-left: 1.2rem;
	padding-top: 4.7rem;
}

.reg {
	font-family: Verdana, sans-serif;
	font-size: 1.8rem;
	margin-left: -1rem;
	vertical-align: top;
}

/**********************************/
/* 3.1 Pads
/**********************************/
.game__pad {
	width: calc(var(--game-size) /2);
	height: calc(var(--game-size) /2);
	border: var(--game-border);	
}

.game__pad--tl {
	background-color: var(--clr-normal-green);
	border-top-left-radius: 10%;
	padding: 1.5rem;
}

.game__pad--tl.game__pad--active {
	background-color: var(--clr-light-green);
}

.game__pad--tr {
	background-color: var(--clr-normal-red);
	border-top-right-radius: 10%;
}

.game__pad--tr.game__pad--active {
	background-color: var(--clr-light-red);
}

.game__pad--bl {
	background-color: var(--clr-normal-blue);
	border-bottom-left-radius: 10%;
}

.game__pad--bl.game__pad--active {
	background-color: var(--clr-light-blue);
}

.game__pad--br {
	background-color: var(--clr-normal-yellow);
	border-bottom-right-radius: 10%;
}

.game__pad--br.game__pad--active {
	background-color: var(--clr-light-yellow);
}

.game__pad--btn {
	cursor: pointer;
}

/**********************************/
/* 3.2 Center
/**********************************/
.game__options {
	position: absolute;
	background-color: var(--clr-center);
	width: calc(var(--game-size)/2);
	height: calc(var(--game-size)/2);
	top: calc(var(--game-size)/4);
	left: calc(var(--game-size)/4);
	border: var(--game-border);
	border-radius: 25rem;
}

/**********************************/
/* 3.2.1 GUI
/**********************************/
.gui {
	padding-left: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.group {
	margin-right: 1.2rem;
}

.group__large {
	display: flex;
	margin-left: 4.5rem;
}

.gui__label {
	font-family: "Arima Madurai", cursive;
	font-weight: bold;
	font-size: 0.75rem;
	text-align: center;
	text-transform: uppercase;
}

.gui__label--switch {
	margin: 0;
	padding-top: 0.75rem;
}

.gui__btn {
	width: 2.5rem;
	height: 2.5rem;
	margin-left: .1rem;
	border-radius: 5rem;
	box-shadow: 0 .2rem .3rem #222;
	border: .4rem solid #444;
	cursor: pointer;
}

.gui__btn:active {
	transform: translate(0, .3rem);
	box-shadow: none;
}

.gui__btn--start {
	background-color: red;
}

.gui__btn--strict {
	background-color: yellow;
}

.gui__btn--level {
	background-color: blue;
}

.gui__btn--switch {
	background-color: #222;
	margin-left: .5rem;
	margin-right: .5rem;
	width: 5rem;
	height: 2.3rem;
	border-radius: .3rem;
	cursor: pointer;
}

.gui__btn--switch::before {
	content: "";
	background-color: var(--clr-switch);
	display: block;
	position: relative;
	left: 2.5rem;
	width: 2.2rem;
	height: 1.9rem;
	border-radius: .3rem;
	border: .2rem solid #333;
}

.gui__btn--switch--on::before {
	left: 0;
}

.gui__counter {
	background-color: var(--clr-counter-bg);
	color: var(--clr-counter-off);
	font-family: "Iceland", cursive;
	font-weight: bold;
	font-size: 3rem;
	text-align: right;
	width: 5.5rem;
	border: .3rem solid #000;
	border-radius: 1rem;
	padding-right: .2rem;
	padding-left: .3rem;
}

.gui__counter--on {
	color: var(--clr-counter-on);
}

.gui__led, .gui__led--level {
	background-color: #32050C;
	margin-left: 1rem;
	margin-bottom: .5rem;
	width: .8rem;
	height: .8rem;
	border: .2rem solid #222;
	border-radius: 25rem;
}

.gui__led--active {
	background-color: red;
}
.gui__led--level1 {
	background-color: cyan;
}
.gui__led--level2 {
	background-color: greenyellow;
}
.gui__led--level3 {
	background-color: yellow;
}
.gui__led--level4 {
	background-color: red;
}
.gui__led--level5 {
	background-color: purple;
}


/**********************************/
/* 4. Footer
/**********************************/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 3rem;
}

.footer--title, .header--social {
	text-align: right;
	font-size: 1.5rem;
}

.social {
	text-decoration: none;
	margin-right: 3rem;
	color: #222;
}